/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 27, 2024, 2:55:53 PM
    Author     : upekhansaja
*/

*{
  
}



#genderMsg{
    color: red;
    font-size: 14px;
}